__pycache__

_calibration/rm_depth_ahat/*
output/*
pretrained/*

modules/handtracker/checkpoint/*
modules/handtracker_wilor/pretrained_models/*

modules/segmentor/sam2_realtime/checkpoints/*
modules/segmentor/100DOH_small.pt

modules/gestureclassifier/checkpoints/*
modules/handtracker_wilor/mano_data/*
