open3d==0.19.0
trimesh==4.7.1
pyntcloud==0.3.1
pyrender==0.1.45
pyopengl==3.1.0
imageio==2.37.0
matplotlib==3.10.3
plotly==6.2.0
dash==3.1.1

opencv-python-headless==4.12.0.88
Pillow==11.0.0
rembg==2.0.67
pycocotools

fvcore==0.1.5.post20221221
iopath==0.1.10
addict==2.4.0
yacs==0.1.8

openai==1.97.0
google-genai==1.27.0
httpx==0.28.1

onnxruntime==1.22.1
onnx==1.18.0

pyquaternion==0.9.9
tqdm==4.67.1
pyyaml==6.0.2
tabulate==0.9.0
termcolor==3.1.0
configargparse==1.7.1
retrying==1.4.1
